body {
    background-image: url(./Imagens/1.jpeg);
    background-position: center;
    margin: auto;
    background-repeat: no-repeat;
    display: flex;
}

body div img {
    width: 300px;
    height: 200px;
    margin-top: 50px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 50px lightblue;
}

.box {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid transparent;
    border-radius: 20px;
    width: 350px;
    height: 500px;
    background: rgb(1, 1, 61);
    color: lightblue;
    backdrop-filter: blur(10px);
    margin: 50px auto;
    text-align: center;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 800px;
    background: linear-gradient(to left, rgb(1, 1, 61), lightblue, blue, lightblue, rgb(1, 1, 61));
    right: 30px;
    animation: rotate 4s linear infinite;
    top: -30%;
}

.box::after {
    content: '';
    position: absolute;
    background: rgb(1, 1, 61);
    border-radius: 20px;
    inset: 5px;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

h2 {
    margin-top: 50px;
    position: relative;
    z-index: 2;
}

.b1 {
    margin-left: -80px;
    margin-right: 50px;
    margin-top: 50px;
    height: 40px;
    width: 80px;
    background: rgb(1, 1, 61);
    color: white;
    border-radius: 15px;
    border: 2px solid white;
    transition: 0.5s;
    position: relative;
    z-index: 2;
}

.b2 {
    margin-top: 50px;
    height: 40px;
    width: 80px;
    background: rgb(1, 1, 61);
    color: white;
    border-radius: 15px;
    border: 2px solid white;
    position: absolute;
    z-index: 2;
}

.b1:hover {
    background: lightblue;
    color: rgb(0, 0, 0);
    border: 2px solid lightblue;
    cursor: pointer;
    box-shadow: 0 0 20px lightblue;
}